.foodsi-zdjecie{
    width: 350px;
}
.foodsi-nazwa{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    float:left;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    text-align: left;


}
.foodsi-cena-przed{
    text-align: right;
    width: 38%;
    float:right;
    padding-top:10px;

    font-size: 16px;
    text-decoration: line-through;


}

.foodsi-adres{
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    width: 60%;
    float:left;
    text-align: left;
}


.foodsi-cena{
    text-align: right;
    font-size: 24px;
    font-weight: bold;




}