<div class="container">
  <popup>
    <app-auth></app-auth>
  </popup>
  <img src="../assets/images/food-details.jpg" class="foodsi-zdjecie" />
  <div class="row">
    <div id="info-box" class="col-xs-1 col-sm-12 ">

      <img id="logo" src="../assets/images/mai-thai-logo.png" class="foodsi-zdjecie" />

    </div>
    <div class="col-xs-1 col-sm-4 "></div>

    <div class="col-xs-1 col-sm-4 "></div>
    </div>
    <div class="row">
    <div class="col-xs-1 col-sm-3 lewo"></div>
    <div class="col-xs-10 col-sm-6">
<!--
      <div class="foodsi-nazwa"><h1>Aoli</h1>  </div>
-->
      <div class="foodsi-lista">

        <div class="foodsi-opis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a libero dictum, volutpat lacus ac, viverra tortor. Nullam non enim non elit pharetra rhoncus. Praesent imperdiet lacus non ligula iaculis hendrerit. Pellentesque mi enim, interdum eget velit nec, malesuada eleifend nunc. Vestibulum commodo, sem id porttitor interdum, turpis massa aliquam est, nec dictum turpis quam aliquam ipsum. Cras iaculis est velit, non tempus lectus convallis at. Nam nec consequat mi, et sollicitudin ex. In ut porttitor libero. Phasellus volutpat cursus pellentesque. Vivamus sit amet nunc nisi. Nam at augue non magna lobortis aliquet et vitae metus.

          Sed eleifend leo non magna consectetur, eu pellentesque sapien dignissim. Maecenas molestie faucibus blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas molestie nec diam in maximus. Curabitur vel ornare est, quis vestibulum metus. Vestibulum volutpat ipsum id tellus posuere, vel placerat nibh iaculis. Fusce maximus neque ac elementum tempor. Pellentesque quis tempor orci. Pellentesque sit amet turpis sem. Suspendisse non est ac ex elementum consectetur. Ut venenatis sagittis lacus id ornare. Donec auctor id lorem a maximus. Donec eu libero egestas, molestie sem sagittis, venenatis eros. Nulla blandit sit amet velit ac pretium. Proin dolor lectus, accumsan id malesuada sed, suscipit sed dui. Praesent semper vel mi nec elementum.

          Donec laoreet velit a leo ornare, id consequat nunc cursus. Sed id urna quis sapien vehicula rutrum vitae vitae turpis. Quisque interdum ante ac fringilla varius. Aenean eget elit non diam vulputate accumsan vel at libero. Duis faucibus pharetra massa, nec auctor nibh. Sed volutpat mi sit amet arcu vulputate sollicitudin. Quisque tempor lobortis diam id lobortis. Etiam ac sagittis massa. Quisque sapien erat, finibus bibendum urna sit amet, condimentum condimentum turpis. Nullam elementum ipsum diam, sagittis venenatis nulla pellentesque ut. Integer ornare, ligula vitae viverra vestibulum, sapien odio molestie dui, quis ultricies nisi nibh at justo. Praesent et scelerisque nibh.

          Maecenas venenatis consequat iaculis. Ut facilisis pharetra interdum. Fusce vulputate dapibus porta. Duis in fringilla lorem. Quisque eu odio a dolor lacinia interdum. Proin dictum purus ut ultricies tincidunt. Ut fringilla finibus purus, lobortis dignissim dolor dignissim ac. Proin maximus dictum commodo. Nunc feugiat purus quis tortor elementum, nec finibus metus placerat. Sed sit amet tellus odio.

          Vestibulum lobortis blandit eros, non elementum nunc. Nulla nisl odio, porta eu sapien vel, maximus pretium ante. Vestibulum pellentesque efficitur magna quis viverra. Suspendisse efficitur odio sit amet est sagittis tincidunt. Nam ac magna volutpat sapien feugiat lacinia ac sed erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin volutpat blandit nisl sit amet egestas. In accumsan mi nibh, ut accumsan quam vulputate sed.
        </div>

        <div class="foodsi-cena-przed">24 PLN</div>

        <div class="foodsi-adres"> Aleje Jerozolimskie 28 </div>
        <div class="foodsi-cena">9 PLN</div>




        <div class="foodsi-otwarcie">18:00-18:30</div>



      </div>

    </div>
    <div class="col-xs-1 col-sm-3 prawo"></div>


    </div>
</div>
<nav class="nav navbar-inverse navbar-fixed-bottom"  id="foodsi-kup-navbar">
  <ul class="nav navbar-nav" >

    <li id="foodsi-nav-el">
      8 PLN
    </li>
    <li id="foodsi-nav-otwarte">
      Czas odbioru: 19:00-19:30
    </li>
    <li>
      <button class="btn btn-success btn-lg" (click)="ClickButton()"><span class="glyphicon glyphicon-shopping-cart"></span> Zamów </button>
    </li>
  </ul>
</nav>

