<footer>


    <div class="row">
        <div class="col-sm-3">
            <h4>FOODSI.PL</h4>
            <a href="/">STRONA GŁÓWNA</a><br>
            <!--
                        <a href="/onas">O NAS</a><br>
            -->
            <a href="/kontakt">KONTAKT</a><br>
            <a href="/materialy-prasowe">MATERIAŁY PRASOWE</a><br>
            <br>
        </div>

        <div class="col-sm-3">
            <h4>DLA PARTNERÓW</h4>
            <a href="/biznes">DOŁĄCZ JAKO RESTAURACJA</a><br>
            <br>
        </div>
        <div class="col-sm-3">
            <h4>INFORMACJE PRAWNE</h4>

            <a href="/regulamin">REGULAMIN</a><br>

            <br>
        </div>


        <div class="col-sm-3">
            <h4>ZNAJDŹ NAS</h4>
            <a target="_blank" href="https://www.facebook.com/foodsipl/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.instagram.com/foodsi.pl/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><br>
            <br>
        </div>
    </div>
    <hr>
    © 2017 Foodsi.pl

</footer>
