<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="pageTitle">FOODSI - Po co marnować?</title>
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-99028462-1', 'auto');
        ga('send', 'pageview');

    </script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/business.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://use.fontawesome.com/365c68a380.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>


<nav class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-lg">
    <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" id="logoP" class="nav navbar-left"><img id="logo" alt="Foodsi logo" title="Foodsi logo" src="/images/Foodsi_hor_color_white.svg" style="width:173px;"></a>
        <div class="collapse navbar-collapse" id="navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="btn btn-success" id="biznes" > PANEL KLIENTA </a></li>
            </ul>
        </div>

    </div>
</nav><br><br><br><br><br><br><br>
<div class="container-full">
    <div class="row">

        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">

            <h2 style="font-family: 'Roboto', sans-serif">Czy jedzenie z restauracji może być tanie? Wiemy co zrobić, żeby tak było.</h2>
            <p>Wystarczy pobrać na swój telefon aplikację o nazwie “Foodsi”, która daje możliwość zamawiania na wynos taniego jedzenia. Na razie obsługuje tylko restauracje w Warszawie, jednak wkrótce obejmie zasięgiem największe miasta w Polsce.<br><br>

            Użytkownik aplikacji ma wgląd w lokale, gdzie może otrzymać dania, których nikt w ciągu dnia nie zamówił - są bowiem przygotowane "na zapas". Nie bez znaczenia pozostaje fakt, że dania te kosztować mogą nawet 70 procent mniej niż w ciągu dnia.
            Warto zauważyć, że klient nie kupuje konkretnego jedzenia, tylko posiłek, którego zawartością jest to, co zostało danego dnia w restauracji.
            Jest to fantastyczna okazja dla ludzi lubiący próbować nowych rzeczy, operując przy tym niewielkim budżetem.
            Aplikacja na razie jest dostępna tylko na platformę Android, jednak jej Twórcy zapowiadają, że już wkrótce również iOS.</p><br><br>


            <a  style="text-decoration: none;" href="https://drive.google.com/drive/folders/0ByZUU4eJvvJdMzIxM0huU0ZIRmM?usp=sharing"><h1 class="linkPress">Ściągnij materiały prasowe!</h1></a>


            <br><br>
            <br><br>

        </div>
        <div class="col-sm-3">

        </div>

    </div>
</div>
<%- include footer.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/navshrink.js"></script>
