<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="pageTitle">FOODSI - Po co marnować?</title>
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-99028462-1', 'auto');
        ga('send', 'pageview');

    </script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/business.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://use.fontawesome.com/365c68a380.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>


<nav class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-lg">
    <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" id="logoP" class="nav navbar-left"><img id="logo" alt="Foodsi logo" title="Foodsi logo" src="/images/Foodsi_hor_color_white.svg" style="width:173px;"></a>
                <div class="collapse navbar-collapse" id="navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="btn btn-success" id="biznes" > PANEL KLIENTA </a></li>
            </ul>
        </div>

    </div>
</nav><br><br><br><br><br><br><br>
<div class="container-full">
<div class="row">

    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">

            <h1>Regulamin</h1><br>
            <p>Słowniczek pojęć:<br>
            1. Klient – osoba fizyczna, która ukończyła 18 lat i posiada pełną zdolność do czynności prawnych dokonująca zamówienia Posiłku w Sklepie internetowym Foodsi z użyciem aplikacji mobilnej.<br>
            2. Posiłek – posiłek o obniżonej cenie ze względu na krótki termin spożycia, przygotowywany w Restauracji, odbierany przez Klienta lub osobę przez niego wskazaną w terminie wskazanym przez Restaurację.<br>
            3. Restauracja – podmiot prowadzący działalność gospodarczą w zakresie działalności usługowej związanej z wyżywieniem współpracujący ze Sklepem internetowym Foodsi.<br>
            4. Paragon – plik w formacie pdf generowany automatycznie po opłaceniu zaakceptowanego zamówienia na Posiłek zawierający elektroniczną wersję paragonu wystawionego przez Restaurację, wysyłany na adres e-mail podany przez Klienta przy składaniu zamówienia.<br>
            I POSTANOWIENIA OGÓLNE<br>
            1.1. Sklep internetowy Foodsi działający pod adresem http://www.foodsi.pl/ (dalej: Sklep) jest prowadzony przez: FUNDACJĘ ROZWOJU PRZEDSIĘBIORCZOŚCI „TWÓJ STARTUP” z siedzibą w Warszawie ( adres siedziby: ul. Żurawia 6/12, lok. 766, 00-503 Warszawa, wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego przez Sąd Rejonowy dla m.st. Warszawy w Warszawie, XII Wydział Gospodarczy KRS pod numerem 0000442857; NIP: 5213641211; REGON: 146433467, zwany dalej Fundacją.)<br>
            1.3. Sklep prowadzi sprzedaż detaliczną za pośrednictwem aplikacji mobilnej z wykorzystaniem środków komunikowania się na odległość. W celu korzystania ze Sklepu niezbędne jest ukończenie 18 roku życia oraz:<br>
            posiadanie dostępu do Internetu;<br>
            posiadanie adresu e-mail;<br>
            zainstalowanie najnowszej wersji przeglądarki internetowej;<br>
            włączona obsługa JavaScript;<br>
            zainstalowanie wtyczki Flash Player;<br>
            akceptacja plików cookies.<br>
            1.4. Klient uprawniony jest i zobowiązany do korzystania ze Sklepu zgodnie z jego przeznaczeniem oraz zasadami współżycia społecznego i dobrymi obyczajami.<br>
            1.5. Klient zobowiązany jest do powstrzymywania się od jakiejkolwiek aktywności, która mogłaby wpłynąć na prawidłowe funkcjonowanie Sklepu, w tym w szczególności od jakiegokolwiek ingerowania w zawartość Sklepu lub jego elementy techniczne, oraz od dostarczania treści o charakterze bezprawnym. Zabronione jest wykorzystywanie do celów innych niż jego przeznaczenie, w tym w szczególności rozsyłanie spamu, prowadzenie na stronach internetowych Sklepu jakiejkolwiek działalności komercyjnej, reklamowej, promocyjnej, politycznej itp.<br>
            1.6. Sklep w najszerszym dopuszczalnym przez prawo zakresie nie ponosi odpowiedzialności za zakłócenia, w tym przerwy, w funkcjonowaniu spowodowane siłą wyższą, niedozwolonym działaniem osób trzecich lub niekompatybilność Sklepu z infrastrukturą techniczną Klienta.<br>
            1.7. Przeglądanie asortymentu Sklepu nie wymaga rejestracji, samodzielne składanie zamówień przez Klienta na posiłki znajdujące się w asortymencie Sklepu wymaga założenia konta lub zalogowania z użyciem konta na portalu Facebook.com.<br>
            1.8. Klient, najpóźniej w chwili złożenia zamówienia, jest zobowiązany do zapoznania się z Regulaminem i podczas złożenia zamówienia potwierdza, iż się z nim zapoznał.<br>
<br>
            II WARUNKI I CZAS REALIZACJI ZAMÓWIENIA<br>
            2.1. Wszelkie ogłoszenia, reklamy, cenniki i inne informacje zamieszczone na stronach Sklepu nie stanowią oferty w rozumieniu przepisów Kodeksu cywilnego, lecz zaproszenie do zawarcia umowy (art. 71 ustawy z dnia 17 lutego 2016 r. Kodeks cywilny (Dz.U. z 2016 r. poz. 380z późn. zm.).<br>
            2.2. Klient składa zamówienie, wskazując na Posiłki, którymi jest zainteresowany, przez wybór znajdującego się na Stronie produktowej polecenia „Kup”, wskazuje ich ilość, a następnie wybiera sposób płatności, po której zrealizowaniu, Sklep potwierdza zamówienie, a Klient otrzymuje potwierdzenie zakupu.<br>
            2.3. W Koszyku Klient ma możliwość:<br>
            dodawania i usuwania posiłków oraz ich ilości;<br>
            wyboru sposób płatności (przelew online, płatność kartą Visa, Visa Electron, MasterCard, MasterCard Electronic, Maestro, szybkie przelewy „TPAY” );<br>
            wpisania kodu rabatowego, który uprawnia do darmowego otrzymania posiłku.<br>
            2.4. W przypadku uzasadnionego podejrzenia, iż Klient podał nieprawdziwe dane Sklep ma prawo odstąpić od realizacji zamówienia powiadamiając o tym Klienta.<br>
            2.5. Klient lub osoba przez niego wskazana podczas składania zamówienia na Posiłek odbiera Posiłek w miejscu i o godzinie wyznaczonej w opisie Posiłku:<br>
            2.5.1. po okazaniu pracownikowi Restauracji na ekranie urządzenia mobilnego Paragonu; pracownik Restauracji w celu potwierdzenia odbioru Posiłku przeciąga palcem po ekranie urządzenia mobilnego.<br>
            2.5.2. po podaniu pracownikowi Restauracji numeru ID zamówienia znajdującego na Paragonie.<br>
            2.6. Niezgłoszenie się przez Klienta lub przez osobę przez niego wskazaną podczas składania zamówienia na Posiłek, w terminie lub miejscu wyznaczonym w opisie Posiłku, może skutkować niewydaniem Posiłku przez Restaurację. W takim wypadku Klientowi nie przysługuje zwrot środków.<br>
            2.6.1. Posiłki mają z reguły charakter posiłków „na wynos”, zatem Klient lub osoba wskazana przez niego podczas składania zamówienia na Posiłek, może nie mieć możliwości konsumpcji Posiłku w lokalu Restauracji.<br>
            2.7. Zamówienia drogą elektroniczną można składać przez 24 godziny na dobę przez cały rok, w miarę dostępności Posiłków w Sklepie.<br>
            2.8. Sklep zastrzega sobie możliwość czasowego zawieszenia działalności w celach dokonania prac konserwacyjnych, rozwojowych i modernizacyjnych.<br>
            2.9. W przypadku wyboru przez Klienta metody płatności w formie podmiotów pośredniczących w transakcji (szybkie przelewy „TPAY”) brak zapłaty w terminie 5 minut od złożenia zamówienia na Posiłek, spowoduje anulowanie zamówienia. W takiej sytuacji Klient może powtórnie złożyć zamówienie. Realizacja zamówienia płatnego przelewem lub kartą kredytową rozpoczyna się z chwilą otrzymania należności za Posiłek.<br>
            2.10. W przypadku, gdy realizacja części zamówienia nie będzie możliwa, Sklep może zaproponować Klientowi:<br>
            2.10.1. anulowanie całości zamówienia (w przypadku wyboru tej opcji przez Klienta, Sklep będzie zwolniony z obowiązku realizacji zamówienia);<br>
            2.10.2. anulowanie zamówienia w części, w której realizacja nie jest możliwa w wyznaczonym terminie (w przypadku wyboru tej opcji przez Klienta zamówienie zostanie zrealizowane w części, przy czym Sklep będzie zwolniony z obowiązku jego realizacji w pozostałym zakresie);<br>
            2.10.3. realizację świadczenia zastępczego, które zostanie potwierdzone z Klientem. Zamówienie na podstawie świadczenia zastępczego, po zatwierdzeniu przez Klienta traktowane będzie jako finalne;<br>
            2.10.4. podział zamówienia i wyznaczenia nowego terminu realizacji w odniesieniu do tej części zamówienia, której realizacja nie jest możliwa w pierwotnie wyznaczonym terminie (w przypadku wyboru tej opcji przez Klienta, Restauracja wyznaczy termin odbioru Posiłku stanowiącego niezrealizowaną część zamówienia nie później niż w terminie 7 dni od daty transakcji)<br>
<br>
            2.11. Jeśli zapłata za zamówienie Posiłku, które nie mogło zostać zrealizowane w całości lub części, została dokonana z góry, Sklep zwróci Klientowi zapłaconą kwotę (lub różnicę) w ciągu 14 dni od dnia wysłania informacji, na zasadach szczegółowo wskazanych w punkcie IV niniejszego Regulaminu.<br>
            2.12 W przypadku podania przez Klienta błędnych lub niedokładnych danych przy rejestracji Konta bądź składaniu zamówieniu, Sklep nie ponosi odpowiedzialności za niemożliwość odbioru Posiłku przez Klienta.<br>
            2.13 Sklep nie ponosi odpowiedzialności za nieodebranie posiłku przez Klienta.<br>
            2.14. Sklep obsługuje Klientów na terytorium Europy.<br>
<br>
            III CENY POSIŁKÓW I KOSZTY PRZESYŁKI<br>
            3.1. Ceny zamieszczane przy oferowanym przez Sklep produkcie zawierają podatek VAT i podawane są w polskiej walucie.<br>
            3.2. Sklep nie oferuje dostawy Posiłku.<br>
            3.3. Sklep zastrzega sobie prawo zmiany cen Posiłków znajdujących się w Sklepie, wprowadzania nowych Posiłków do sprzedaży, przeprowadzania i odwoływania akcji promocyjnych, bądź wprowadzania w nich zmian zgodnie z normami kodeksu cywilnego oraz innych ustaw, przy czym zmiany takie nie naruszają praw osób, które zawarły umowy sprzedaży Posiłków oferowanych przez Sklep przed dokonaniem ww. zmian lub praw osób uprawnionych do korzystania z danej promocji, zgodnie z jej zasadami i w okresie jej trwania.<br>
<br>
            IV DOPUSZCZALNE FORMY PŁATNOŚCI<br>
            4.1. Zapłaty za Posiłek, który ma być odebrany przez Klienta osobiście albo przez osobę przez niego wskazaną:<br>
            4.1.1. on-line za pomocą systemu szybkich przelewów i płatności dostarczanych przez „TPAY”;<br>
            4.1.2. Kartą: Visa, Visa Electron, MasterCard, MasterCard Electronic, Maestro przelewem na podane konto Sklepu.<br>
            4.1.3. Blik<br>
            V REKLAMACJE I ZWROTY POSIŁKÓW<br>
            5.1 Sklep informuje, iż w stosunku do zamówień Posiłków, zgodnie z art. 38 pkt 4) Ustawy o prawach konsumenta z dnia 30 maja 2014 roku (Dz.U. 2014 poz. 827), w której przedmiotem świadczenia jest rzecz ulegająca szybkiemu zepsuciu lub mająca krótki termin przydatności do użycia prawo odstąpienia od umowy zawartej poza lokalem przedsiębiorstwa, lub na odległość nie przysługuje.<br>
<br>
            5.2 Podmiotem odpowiedzialnym za rozpatrzenie reklamacji jest Restauracja. Klient ma prawo do reklamacji Posiłku w przypadku, gdy jest on niezgodny z umową. Reklamację z tego tytułu Klient zgłasza w formie pisemnej lub wiadomością e-mail Restauracji, w której wyznaczono odbiór Posiłku w terminie przydatności do spożycia danego Posiłku. Klient reklamacje może złożyć również za pomocą formularza zgłoszeniowego do Sklepu poprzez zakładkę w aplikacji “Kontakt”. Sklep niezwłocznie przekazuje treść reklamacji do Restauracji.<br>
            5.3. Reklamacja może zawierać jedno z żądań: obniżenie ceny, usunięcie wady, wymiana Posiłku na wolny od wad albo odstąpienie od umowy.<br>
            5.4. Restauracja może żądać uzupełnienia reklamacji poprzez przesłanie na adres wskazany w wezwaniu o uzupełnienie reklamacji, kopii lub skanu dowodu zakupu (np. faktury VAT lub specyfikacji), opakowania przesyłki, w której reklamowany towar nadszedł lub towaru, który jest przedmiotem reklamacji. Reklamacja zostanie rozpatrzona w ciągu 14 dni od dnia jej złożenia, jeżeli jest kompletna bądź uzupełnienia, jeżeli to było wymagane.<br>
            5.5. W przypadku uznania reklamacji za uzasadnioną Restauracja niezwłocznie informuje o tym Klienta i dokonuje w zależności od żądania: obniżenia ceny lub wydaje Klientowi pełnowartościowy Posiłek, a wobec braku takiej możliwości, zwraca Klientowi należną kwotę przekazem pocztowym na wskazany adres lub przelewem na konto. Restauracja wystawia Klientowi odpowiednią korektę dowodu zakupu (faktura korygująca VAT lub specyfikacja korygująca).<br>
            5.12. Zastosowanie określonego sposobu pozasądowego rozstrzygnięcia sporu możliwe jest tylko za obopólną zgodą Klienta i Restauracji. Szczegółowe procedury pozasądowego rozstrzygania sporów między Klientem a Restauracją dostępne są na stronie internetowej Urzędu Ochrony Konkurencji i Konsumentów: www.uokik.gov.pl, na stronach internetowych Wojewódzkich Inspektoratów Inspekcji Handlowej, a także u powiatowych (miejskich) rzeczników konsumentów.<br>
            5.13. W zakresie nieuregulowanym w niniejszym Regulaminie do określenia praw i obowiązków Klienta w przypadku stwierdzenia wady towaru zastosowanie znajdują przepisy Kodeksu Cywilnego.<br>
<br>
            VI POLITYKA PRYWATNOŚCI<br>
            6.1 Celem Fundacji jest zapewnienie Użytkownikowi możliwości skorzystania ze wszystkich funkcjonalności Sklepu przy możliwie najmniejszej ingerencji w sferę prywatności Użytkownika. W przypadku korzystania z usług oferowanych w Sklepie Użytkownik będzie poproszony o podanie określonych danych osobowych, które będą przetwarzane przez Fundację zgodnie z zasadami opisanymi poniżej.<br>
            6.2 Administratorem danych podanych w ramach świadczenia usług na podstawie niniejszego Regulaminu jest Fundacja Rozwoju Przedsiębiorczości „Twój StartUp” z siedzibą w Warszawie (adres siedziby: ul. Żurawia 6/12, lok. 766, 00-503 Warszawa, wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XII Wydział Gospodarczy KRS pod numerem 0000442857; NIP: 5213641211; REGON: 146433467)<br>
            6.3 Fundacja zobowiązuje się do ochrony danych osobowych Użytkownika Sklepu. Powierzone dane będą przetwarzane zgodnie z Ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą elektroniczną oraz innymi obowiązującymi przepisami prawa.<br>
            6.4 Podanie jakichkolwiek danych osobowych ma charakter dobrowolny, z zastrzeżeniem, że podanie wymaganych przez Fundację danych jest niezbędne do korzystania z pełnej funkcjonalności sklepu, w tym do złożenia oferty i zawarcia umowy sprzedaży. Na warunkach opisanych poniżej, Fundacja może przetwarzać powierzone mu dane osobowe w związku czynnościami poprzedzającymi zawarcie umowy oraz czynnościami związanymi z obsługą zawartej umowy, w szczególności ma prawo do prowadzenia korespondencji związanej z wykonywaniem umowy. Użytkownik ma w każdej chwili prawo wglądu do swoich danych oraz ich poprawienia.<br>
            6.5 Jeżeli przetwarzanie danych osobowych, do którego konieczna jest zgoda Użytkownika, jest niezbędne do świadczenia danej usługi, a Użytkownik odmówił wyrażenia takiej zgody, bądź cofnął taką zgodę, Użytkownik zostanie pozbawiony dostępu do tej usługi.<br>
            6.6 Fundacja zastrzega sobie prawo do wypowiedzenia Umowy zawartej z użytkownikiem ze skutkiem natychmiastowym w przypadku braku możliwości zrealizowania umowy na skutek zgłoszenia przez Użytkownika żądania zaprzestania przetwarzania jego danych osobowych.<br>
            6.7 Fundacja w przypadku podjęcia działań wskazanych w ust. 6.5. i 6.6 niniejszego Regulaminu nie ponosi odpowiedzialności za skutki działań Użytkownika, w szczególności za brak możliwości zapewnienia Użytkownikowi usługi.<br>
            6.8 Fundacja będzie przetwarzała dane osobowe powierzone przez Użytkownika wyłącznie w celu, w jakim zostały udostępnione i zobowiązuje się do zachowania ich w poufności i nieujawnienia ich innych podmiotom, chyba że ujawnienie to następuje na podstawie wyraźnego upoważnienia przez Użytkownika lub na podstawie powszechnie obowiązujących przepisów prawa. Zobowiązanie niniejsze pozostaje w mocy również po ustaniu stosunku prawnego łączącego Użytkownika z Fundacją.<br>
<br>
            VII PLIKI „COOKIES”<br>
            7.1. Sklep nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies.<br>
            7.2. Pliki cookies (tak zwane „ciasteczka”) są danymi informatycznymi, niewielkimi informacjami wysyłanymi przez serwis internetowy i przechowywane na urządzeniu końcowym Klienta (komputerze, laptopie, smartfonie) niezbędnymi do prawidłowego funkcjonowania witryny lub funkcjonalności, z których Klient chce skorzystać. Pliki te zawierają różne informacje niezbędne do prawidłowego funkcjonowania serwisu internetowego, zazwyczaj jest to nazwa strony internetowej, ich personalizacja i informacje logowania.<br>
            7.3. Sklep wykorzystuje pliki cookies do dostosowania zawartości stron internetowych Sklepu do preferencji Klienta oraz optymalizacji korzystania ze stron internetowych. Pozwalają rozpoznać urządzenie Klienta i wyświetlić stronę internetową dostosowaną do jego indywidualnych preferencji, a także tworzenia statystyk, które pomogą zrozumieć sposób korzystania ze Sklepu przez Klienta i przez to ulepszanie struktury i zawartości Sklepu.<br>
            7.4. Sklep dzieli przechowywane pliki cookies ze względu na czas, przez jaki są one umieszczone w urządzeniu końcowym Klienta i rozróżnia:<br>
            1. Cookies tymczasowe (session cookies) – używane tylko podczas aktualnej sesji Klienta i usuwane po jej zamknięciu.<br>
            2. Cookies stałe (persistent cookies) – nie są kasowane po zamknięciu aktualnej sesji i są przechowywane na komputerze Klienta przez oznaczony czas lub bez okresu ważności w zależności od indywidualnych ustawień właściciela witryny.<br>
            7.5. Klient może w każdej chwili usunąć pliki cookies znajdujące się na jego komputerze. Sklep informuje, iż usunięcie, wyłączenie lub ograniczenie może wpłynąć na prawidłowe funkcjonowanie Sklepu, lub jego niektórych składników.<br>
            7.6. Sklep rozróżnia pliki cookies także w następujący sposób:<br>
            1. Funkcjonalne – umożliwiające prawidłowe korzystanie ze Sklepu,<br>
            2. Służące bezpieczeństwu-umożliwiające bezpieczne korzystanie z funkcjonalności Sklepu,<br>
            3. Uwierzytelniające – umożliwiające utrzymanie tzw. sesji zalogowania Klienta,<br>
            4. Reklamowe – umożliwiające wyświetlanie spersonalizowanych reklam,<br>
            5. Konfiguracyjne – umożliwiające na konfigurację ustawień funkcji i usług Sklepu.<br>
            7.7. Szczegółowe informacje o możliwości i sposobach obsługi plików „cookies” dostępne są w ustawieniach oprogramowania (przeglądarki internetowej)<br>
            7.8. Pliki cookies zamieszczane w urządzeniu końcowym Klienta Sklepu i wykorzystywane mogą być również przez współpracujących z operatorem Sklepu reklamodawców oraz partnerów.<br>
<br>
            VIII ZWROTY NALEŻNOŚCI<br>
            8.1. Sklep dokona zwrotu należności w ciągu 14 dni kalendarzowych przy użyciu takich samych sposobów płatności, jakie zostały użyte przez Klienta w pierwotnej transakcji, w przypadku:<br>
            8.1.1. anulowania zamówienia lub części zamówienia (w takim przypadku zwrotowi podlega odpowiednia część ceny) opłaconego z góry przed jego realizacją;<br>
            ̶<br>
            8.1.2.Uznania reklamacji przez restaurację, w której został wydany posiłek<br>
            8.2. Sklep dokona zwrotu pieniędzy na rachunek bankowy Klienta (w tym powiązany z kartą kredytową lub płatniczą Klienta)<br>
            8.2.1. z góry za pomocą przelewu lub karty kredytowej;<br>
            ̶<br>
            IX NEWSLETTER<br>
            9.1. Klient może wyrazić zgodę na otrzymywanie informacji handlowych, w tym informacji handlowych drogą elektroniczną, poprzez zaznaczenie odpowiedniej opcji w formularzu rejestracyjnym lub poprzez stronę internetową. W przypadku wyrażenia takiej zgody Klient otrzymywać będzie na podany przez siebie adres poczty elektronicznej biuletyn informacyjny (Newsletter) Sklepu.<br>
            9.2. Klient może w dowolnym momencie zrezygnować z prenumeraty Newslettera samodzielnie, poprzez zgłoszenie prośby do administratora danych lub klikając na link deaktywujący, znajdujący się w każdej wiadomości Newslettera.<br>
            X POSTANOWIENIA KOŃCOWE<br>
            10.1. Właściciel informuje, a Klient przyjmuje do wiadomości, że korzystanie z sieci Internet może wiązać się z ryzykiem w postaci szkody, którą Klient może ponieść na skutek zagrożeń występujących w sieci Internet, a w szczególności włamania do systemu informatycznego Klienta, przejęcia haseł przez osoby trzecie, zainfekowania systemu informatycznego Klienta wirusami.<br>
            10.2. W najszerszym dopuszczalnym przez prawo zakresie Sklep nie ponosi odpowiedzialności za blokowanie przez administratorów serwerów pocztowych przesyłania wiadomości na adres e-mail wskazany przez Klienta oraz za usuwanie i blokowanie e-mail przez oprogramowanie zainstalowane na komputerze używanym przez Klienta.<br>
            10.3. Różnice pomiędzy wizualizacją posiłku wynikającą z indywidualnych ustawień komputera Klienta (kolor, proporcje itd.) a rzeczywistym wyglądem posiłku nie mogą być podstawą reklamacji.<br>
            10.4. Właściciel informuje, że wszelkie zamieszczane na stronach internetowych Sklepu znaki handlowe (loga, logotypy, nazwy marek, etc.), materiały graficzne, zdjęcia podlegają ochronie prawnej i są wykorzystywane przez Sklep wyłącznie dla celów informacyjnych.<br>
            10.5. Wszystkie nazwy posiłków oferowanych do sprzedaży przez Sklep są używane w celach identyfikacyjnych i mogą być chronione i zastrzeżone na podstawie przepisów Ustawy Prawo własności przemysłowej.<br>
            10.6. Właściciel zwraca uwagę, że Sklep zawiera treści chronione prawem własności intelektualnej, w szczególności utwory chronione prawem autorskim (treść zamieszczona w Sklepie, układ graficzny, grafiki, zdjęcia, etc.). Klienci oraz osoby odwiedzające Sklep zobowiązują się do przestrzegania praw własności intelektualnych (w tym autorskich praw majątkowych oraz praw własności przemysłowej takich jak prawa wynikające z rejestracji znaków towarowych) przysługujących Właścicielowi oraz podmiotom trzecim. Klient Sklepu lub osoba odwiedzająca stronę internetową Sklepu ponosi wyłączną odpowiedzialność za nieprzestrzeganie postanowień niniejszego punktu.<br>
            10.7. Klienci nie mogą umieszczać treści niezgodnych z obowiązującym prawem, niemoralnych i naruszających dobro osób trzecich, jak również zakazuje się Klientom publikowania linków do materiałów pornograficznych, obscenicznych czy urągających godności innych osób.<br>
            10.8. O każdej zmianie regulaminu Sklep zobowiązuje się poinformować zarejestrowanych użytkowników Sklepu wysyłając Im elektroniczną wiadomość na adresy email podane podczas rejestracji, a Klient po otrzymaniu takiej informacji będzie mógł w każdej chwili usunąć swoje konto.<br>
            10.9. W sprawach nieuregulowanych w Regulaminie mają zastosowanie obowiązujące przepisy prawa polskiego, w tym zwłaszcza kodeksu cywilnego, ustawy o szczególnych warunkach sprzedaży konsumenckiej oraz zmianie Kodeksu cywilnego, a także ustawy o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny.<br>
            10.10. Niniejszy Regulamin obowiązuje od dnia 1.06.2017</p>

<br><br>

    </div>
    <div class="col-sm-2">

    </div>
    </div>
    </div>
<%- include footer.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/navshrink.js"></script>
