<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title id="pageTitle">FOODSI - Po co marnować?</title>
  <link rel='icon' type='image/png' href='/assets/images/favicon.png?v=3' />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://use.fontawesome.com/365c68a380.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <base href="/">
</head>
<body>
<app-navbar></app-navbar>

<router-outlet></router-outlet>





<app-footer></app-footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<script src="../assets/js/app.js"></script>
<script src="../assets/js/navshrink.js"></script>
<script src="../assets/js/ukryjTekst.js"></script>

</body>
</html>