
<nav class="navbar navbar-inverse navbar-fixed-top navbar-toggleable-lg">

  <title>FOODSI</title>

  <div class="container">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="logo" href="#logoSekcja" class="navbar-left"><img alt="Foodsi logo" title="Foodsi logo" src="./assets/images/logo.png"></a>

    <div class="collapse navbar-collapse" id="navHeaderCollapse">

      <ul class="nav navbar-nav navbar-inverse navbar-right">

        <li><a id="sciagnij" href="#sciagnijSekcja"> ŚCIĄGNIJ APLIKACJĘ</a></li>
        <!--
                        <li><a id="onas" href="/onas"> O NAS</a></li>
        -->

        <li><a href="/biznes" class="btn btn-success" id="biznes" > DOŁĄCZ JAKO RESTAURACJA</a></li>



      </ul>
    </div>

  </div>
</nav>